.cards {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.card1 {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.card2 {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.card3 {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.card4 {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.card5 {
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.cards > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  border-radius: 15px;
}