.container {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container > img {
  --width: 20em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 36.5%;
  transition: 0.5s;
}

.card1 {
  transform: translate(90%) rotate(10deg) translateY(5%);
}

.card2 {
  transform: translate(-90%) rotate(-10deg) translateY(5%);
}

.arrows {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: translate(1100%) rotate(-45deg);
}

.left {
  transform: translate(200%) rotate(135deg);
}