.container {
  background-color: #544c4c;
  background: #cdcdcd;
  border-radius: 50%;
  height: 95vh;
  width: 60vw;
  left: 10vw;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    background: black;
  }
}

.arrow {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.rightarrow {
  top: 45%;
  right: 28.6%;
}

.leftarrow {
  top: 45%;
  left: 8.65%;
  
}

.rightarrow:hover {
  transform: scale(1.1);
}

.leftarrow:hover {
  transform: scale(1.1);
}

.card {
  position: absolute; 
  --width: 17em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  border-radius: 15px;
  transform-origin: 50% 200%;
  transition: all 0.5s ease-in-out;
}

.card0 {
  transform: rotate(-25deg);
}

.card1 {
  transform: rotate(-15deg);
}

.card2 {
  --width: 22em;
  z-index: 2;
}

.card3 {
  transform: rotate(15deg);
  z-index: 1;
}

.card4 {
  transform: rotate(25deg);
}

.text {
  position: absolute;
  top: 90%;
  left: 50%;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  z-index: 10;
  transition-property: opacity;
}